{% extends '@Article/header.html.twig' %}
{% block title %}Study guide | new article{% endblock %}
{% block site_content %}
    <div id="site-content" class="page page-core-index">
    {{ form_start(form) }}
    <div class="section section-hello text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1>{{ title }}</h1>
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="text-align: left">

                        {{ form_errors(form) }}

                        {{ form_row(form.title, {'label' :  'Tytuł :'}) }}

                        <div class="form-group">
                            <label class="control-label required" >Link do artykułu :</label>
                            <div class="form-control" style="background-color: #ebeded">
                                <a id="slug"  target="_blank" href=""></a>
                            </div>
                        </div>

                        {{ form_row(form.author, { 'label' : 'Autor :'}) }}

                        {{ form_row(form.tags, {'label' : 'Tagi :'}) }}

                        {{ form_widget(form.content) }}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg" value="Save">
                        </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
    <script>
        function getSlug(t){
            var charMap = {
                ą:'a', ć:'c', ę:'e',ł:'l', ń:'n', ó:'o', ś:'s' ,ż:'z', ź:'z',
                Ą:'A', Ć:'C', Ę:'E', Ł:'L', Ń:'N', Ś:'S', Ó:'O', Ż:'Z', Ź:'Z',
            };
            var str_array = t.split('');
            for( var i = 0, len = str_array.length; i < len; i++ ) {
                str_array[ i ] = charMap[ str_array[ i ] ] || str_array[ i ];
            };

            var slugreplace = str_array.join('');
            var slugcontent_hyphens = slugreplace.replace(/\s/g,'-');
            return slugcontent_hyphens.replace(/[^a-zA-Z0-9\-]/g,'');
        }
        $(document).ready( function() {
            $('#form_tags').change(function(){
                var t = $('#form_tags').val();
                t = getSlug(t);
                $('#form_tags').val( t.replace(/\-/g, ';')  );
            });

            $('#form_title').keypress(function() {
                var finishedslug = getSlug( $('#form_title').val() );
                var uri = '{{ app.request.uri }}';

                $('#slug').attr("href", uri.replace('/panel/article/add','/') + finishedslug.toLowerCase() );
                $('#slug').text( finishedslug.toLowerCase() );
                $('#form_slug').val(finishedslug.toLowerCase());
                //$('#form_tags').val( finishedslug.replace('-', ';')  );
            });

            $('#slug').text( $('#form_slug').val( ) );
        });
    </script>
    </div>
{% endblock %}